body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f2f2f2;
    color: #333;
}

.header {
    background: #004aad;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 40px;
    height: 40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

.section {
    display: none;
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
}

.section.active {
    display: block;
}

button {
    background: #0066cc;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0055a3;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-contenido {
    background: white;
    width: 90%;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
}

.acciones {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.formulario__btn {
    background: #0066cc;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.formulario__btn:hover {
    background: #0055a3;
}